{% extends 'core/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Error {% endblock %}</title>
    </head>
    <body>
        {% block header %}
        <h1>¡Ups!</h1>
        {% endblock %}

        {% block content %}
            <p>Disculpa las molestias. Todavía estamos trabajando en esta funcionalidad.</p>
        {% endblock %}

        {% block footer %}
        <a href="/inicio"><button type="button" class="btn btn-outline-dark">Volver al inicio</button></a>
        {% endblock %}
    </body>
</html>