{% extends 'core/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <title> {% block title %} Iniciar sesión {% endblock %} </title>
    </head>
    <body>
        {% block header %}
        <div class="vacio"></div>
        {% endblock %}

        {% block content %}
        <div class="recuadro-fondo-login"></div>
        <form action="/" method="post" class="form-login">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="submit" class="btn btn-outline-dark">Iniciar sesión</button>
            <br>
            <a href="/restablecerContrasena">Olvidé mi contraseña</a>
        </form>
        {% endblock %}
        
        {% block footer %}
        <div class="vacio"></div>
        {% endblock %}
    </body>
</html>