{% extends 'core/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Menu clientes {% endblock %}</title>
    </head>
    <body>

        {% block header %}
        <div class="saludo">
            <h1>Hola {{usuario}}</h1><img class="img-perfil" src="{{img}}" alt="Foto perfil">
        </div>
        {% endblock %}

        {% block content %}
        <div class="botonera">
            {% if crear %}
            <a href="nuevoCliente"><button type="button" class="btn btn-outline-dark">Registrar nuevo cliente</button></a>
            {% endif %}
            <a href="verClientes"><button type="button" class="btn btn-outline-dark">Ver clientes</button></a>
            <a href="/inicio"><button type="button" class="btn btn-outline-dark">Volver atras</button></a>
        </div>
        {% endblock %}

        {% block footer %}

        {% endblock %}
    </body>
</html>