{% extends 'core/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Histórico {% endblock %}</title>
    </head>
    <body>
        {% block header %}
        <h1>Histórico proyecto: {{proyecto}}</h1>
        <h6>Número de expediente: {{n_expediente}}</h6>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="/proyectos/verProyectos">
                <button type="button" class="btn btn-outline-dark" 
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Ver proyectos">
                    Volver atras
                </button>
            </a> &nbsp; 
            {% if autorizado %}
            <a href="/tareas/crearEntrada/{{proyecto}}"><button type="button" class="btn btn-outline-dark">Nueva entrada</button></a>
            {% endif %}
        </div>
        {% endblock %}

        {% block content %}
        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <table id="Entradas" class="table table-hover table table-striped">
                <thead>
                    <tr>
                        <th class="centered">Fecha</th>
                        <th class="centered">Información</th>
                        <th class="centered">Archivo</th>
                        <th class="centered">Fecha de actualización</th>
                        <th class="centered">Actualizado por:</th>
                        <th class="centered">Editar/Borrar</th>
                    </tr>
                </thead>
                <tbody id="tableBody_Entradas">
                    {% for e in Entries %}
                        {% with fecha_texto=e.fecha.date fecha_num=e.fecha.date|date:"Y-m-d" %}
                        <tr>
                            <td>
                                {{fecha_texto}}
                            </td>
                            <td>{{e.resumen}}</td>
                            <td>
                                {% if e.adjunto %}
                                <a href="{{e.adjunto.url}}" download><button type="button" class="btn btn-outline-dark btn-xs"><i class="fa-solid fa-download"></i></button></a>
                                {% else %}
                                <p>Sin archivo</p>
                                {% endif %}
                            </td>
                            <td>{{e.fecha_creacion}}</td>
                            <td>{{e.usuario}}</td>
                            <td>
                                {% if autorizado %}
                                <button type="button" class="btn btn-outline-dark btn-xs btn-xs" data-bs-toggle="modal" data-bs-target="#editarEntradaModal" data-bs-whatever='{{e.id}}`{{proyecto}}`{{fecha_num}}`{{e.resumen}}'><i class="fa-solid fa-pencil sm"></i></button>
                                <a href="/tareas/borrarEntrada/{{e.id}}" class="btn btn-outline-dark btn-xs btnEliminacion"><i class="fa-solid fa-trash-can"></i></a>
                                {% else %}
                                <button type="button" class="btn btn-outline-dark btn-xs btn-xs" disabled><i class="fa-solid fa-pencil sm"></i></button>
                                <button type="button" class="btn btn-outline-dark btn-xs btn-xs" disabled><i class="fa-solid fa-trash-can"></i></button>                                
                                {% endif %}
                            </td>           
                        </tr>
                        {% endwith %}
                    {% endfor %} 
                </tbody>
            </table>
        </div>

        <!-- Modal Editar Entrada -->
        <div class="modal fade" id="editarEntradaModal" tabindex="-1" aria-labelledby="editarEntradaModalLabel" data-bs-backdrop="static" aria-hidden="true">   
            <form action="/tareas/editarEntrada" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="editarEntradaModal">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input id="id" name="id" hidden>
                            
                            <div class="form-group">
                                <label for="fecha">Fecha:</label>
                                <input type="date" id="fecha" name="fecha" format="%Y-%m-%d">
                            </div>
                            <div class="form-group">
                                <label for="resumen">Información:</label>
                                <textarea rows="4" cols="50" id = "resumen" name="resumen"></textarea>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-outline-dark">Guardar cambios</a></button> 
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <!-- Custom Js -->
        <script src="{% static 'tareas/js/Entradas.js' %}"></script>
        {% endblock %}
            
        {% block footer %}
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="/proyectos/verProyectos">
                <button type="button" class="btn btn-outline-dark" 
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Ver proyectos">
                    Volver atras
                </button>
            </a>
            {% if autorizado %}
            <a href="/tareas/crearEntrada/{{proyecto}}"><button type="button" class="btn btn-outline-dark">Nueva entrada</button></a>
            {% endif %}
        </div>
        {% endblock %}
    </body>
</html>