{% extends 'core/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Menu tareas {% endblock %}</title>
    </head>
    <body>

        {% block header %}
        <div class="saludo">
            <h1>Hola {{usuario}}</h1><img class="img-perfil" src="{{img}}" alt="Foto perfil">
        </div>
        {% endblock %}

        {% block content %}
        <div class="botonera">
            <a href="verTareas"><button type="button" class="btn btn-outline-dark">Ver tareas</button></a>
            <a href="verMisTareas"><button type="button" class="btn btn-outline-dark">Ver mis tareas</button></a>
            <a href="crearTarea"><button type="button" class="btn btn-outline-dark">Crear nueva tarea</button></a>
            <a href="/inicio"><button type="button" class="btn btn-outline-dark">Volver atras</button></a>
        </div>
        {% endblock %}

        {% block footer %}

        {% endblock %}
    </body>
</html>