
.imagen-fondo{
    background-image: url(/static/core/img/inicio-bg.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

.img-login{
    width: 100vw;
    height: 100vh;
}
.contenedor{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:"Encabezado"
                        "ContenidoPrincipal"
                        "Pie";
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    /*z-index: 10;*/
}

.contenedor .Encabezado{
    margin: 30px;
    width: auto;
    height: 10%;
    grid-area: Encabezado;
    position: sticky;
}

.contenedor .ContenidoPrincipal{
    margin: 10px;
    padding: 50px;
    width: 100%;
    height: 80%;
    grid-area: ContenidoPrincipal;
}

.contenedor .Pie{
    margin: 30px;
    width: 100%;
    height: 10%;
    grid-area: Pie;
    position: sticky;
}

.form-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    z-index: 1;
}

.img-perfil{
    border-radius: 50%;
    border: 2px solid #44515E;
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.saludo{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: left;
    text-align: left;
    align-items: center;
    background-color: transparent;
    width: auto;
    z-index: 2;
    float: left;
}

.botonera{
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    z-index: 3;
}

.texto_navbar{
    display: flex;
    text-align: right;
    align-items: center;
    gap: 10px;
}

.formulario{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
}

.formulario button{
    width: 200px;
    justify-self: center;
    align-self: end;
}

.form-group label {
    /* Estilos para los elementos label dentro de los elementos form-group */
    font-weight: bold;
}

#hora, #fecha{
    border: none;
}

.modal-fade {
    position: fixed !important;
}

.modal-body{
    display: grid;
    text-align: left;
    gap: 10px;
    z-index: 1000;
}