{% extends 'core/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Nuevo proyecto {% endblock %}</title>
    </head>
    <body>
        {% block header %}
        <h1>Crear nuevo proyecto</h1>
        {% endblock %}

        {% block content %}
        <div class="botonera">
            <div>
                <form action="" method="post" class="formulario">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nombre">Título:</label>
                        <input type="text" id = "nombre" name="nombre" placeholder="Título del proyecto" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <textarea rows="4" cols="50" id = "descripcion" name="descripcion" placeholder="Si lo considera necesario, agregue una descripción del proyecto."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="cliente">Cliente:</label>
                        <select name="cliente" id="cliente">
                            <option value="None">Ninguno</option>
                            {% for c in Clies %}
                                <option value="{{c.nombre}}">{{c.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" id="submit" class="btn btn-outline-dark">Crear proyecto</button>
                </form>
            </div>
            
        </div>
        {% endblock %}
        
        {% block footer %}
        <div class="btn-group" role="group" aria-label="Basic example">
            {% if desdeVerProyectos %}
            <a href="verProyectos">
                <button type="button" class="btn btn-outline-dark" 
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Ver proyectos">
                    Volver atras
                </button>
            </a>
            {% else %}
            <a href="/proyectos">
                <button type="button" class="btn btn-outline-dark" 
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Proyectos">
                    Volver atras
                </button>
            </a>
            {% endif %}
            <!-- <a href=/inicio><button type="button" class="btn btn-outline-dark">Menú principal</button></a> -->
        </div>
        {% endblock %}
    </body>
</html>