{% extends 'core/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Menu proyectos {% endblock %}</title>
    </head>
    <body>

        {% block header %}
        <div class="saludo">
            <h1>Hola {{usuario}}</h1><img class="img-perfil" src="{{img}}" alt="Foto perfil">
        </div>
        {% endblock %}

        {% block content %}
        <div class="botonera">
            {% if crear %}
            <a href="crearProyecto"><button type="button" class="btn btn-outline-dark">Crear nuevo proyecto</button></a>
            {% endif %}
            <a href="verProyectos"><button type="button" class="btn btn-outline-dark">Ver proyectos</button></a>
            <a href="/inicio">
                <button type="button" class="btn btn-outline-dark" 
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Menú principal">
                    Volver atras
                </button>
            </a>
        </div>
        {% endblock %}

        {% block footer %}

        {% endblock %}
    </body>
</html>