{% extends 'core/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Hoy {% endblock %}</title>
    </head>
    <body>

        {% block header %}
        <h1>Hola {{usuario}}</h1>
        {% if messages%}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endblock %}

        {% block content %}
        <div class="container">
            <h2>{{mensaje}}</h2>

        </div>
        {% endblock %}

        {% block footer %}
        <div>
            <a href="/asistencias"><button type="button" class="btn btn-outline-dark">Volver atras</button></a>
            <a href="/asistencias/marcarAsistencia"><button type="button" class="btn btn-outline-dark">Marcar asistencia</button></a>
        </div>
        {% endblock %}
    </body>
</html>