{% extends 'core/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Registro reportes {% endblock %}</title>
    </head>
    <body>
        {% block header %}
        <h1>Lista de reportes</h1>
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="reportes">
                <button type="button" class="btn btn-outline-dark" 
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Menú reportes">
                    Volver atras
                </button>
            </a> &nbsp; 
            {% if crear %}
            <a href="crearReporte"><button type="button" class="btn btn-outline-dark">Nuevo reporte</button></a>
            {% endif %}
            {% if autorizado %}
            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#descargarReportesModal">
                Descargar reportes
            </button>
            {% endif %}
        </div>
        {% endblock %}

        {% block content %}
        <div class="container">
            <div>
                <table id="tabla_reportes" class="table table-hover">
                    <thead>
                        <tr>
                            <th class="centered">Número</th>
                            <th class="centered">Nombre</th>
                            <th class="centered">Informe</th>
                            <th class="centered">Proyecto</th>
                            <th class="centered">Fecha y hora</th>
                            <th class="centered">Editar/Borrar</th>
                        </tr>
                    </thead>
                    <tbody id="tabla_reportes">
                        {% for r in reportes %}
                        {% with fecha_num=r.fecha|date:"Y-m-d" %}
                            <tr>
                                <td>{{r.id}}</td>
                                <td>{{r.usuario}}</td>
                                <td>{{r.informe}}</td>
                                <td>
                                    {% if r.proyecto != None %}
                                        {{r.proyecto}}
                                    {% else %}
                                        <p>Ninguno</p>
                                    {% endif %}
                                </td>
                                <td>{{r.fecha}} {{r.hora}}</td>
                                <td>
                                    {% if editar %}
                                    <button type="button" id="editarReporte" class="btn btn-outline-dark btn-xs" data-bs-toggle="modal" data-bs-target="#editarReporteModal" data-bs-whatever="{{r.id}}`{{r.informe}}`{{r.proyecto}}`{{fecha_num}}`{{r.hora}}`{{request.user}}`{{r.usuario}}" onclick="showEditarReporteModal(this)"><i class="fa-solid fa-pencil sm"></i></button>
                                    {% else %}
                                    <button type="button" id="editarReporte" class="btn btn-outline-dark btn-xs" disabled><i class="fa-solid fa-pencil sm"></i></button>
                                    {% endif %}
                                    {% if borrar %}
                                    <a href="#" class="btn btn-outline-dark btn-xs btnEliminacion" data-bs-whatever="{{request.user}}`{{r.usuario}}"><i class="fa-solid fa-trash-can"></i></a>
                                    <!-- <a href="/asistencias/borrarReporte/{{r.id}}" class="btn btn-outline-dark btn-xs btnEliminacion" data-bs-whatever="{{request.user}}`{{r.usuario}}"><i class="fa-solid fa-trash-can"></i></a> -->
                                    {% else %}
                                    <button type="button" id="borrarReporte" class="btn btn-outline-dark btn-xs" disabled><i class="fa-solid fa-trash-can"></i></button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        <!-- Modal descargar registros -->
        <div class="modal fade" id="descargarReportesModal" tabindex="-1" aria-labelledby="descargarReportesModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="descargarReportesModalLabel">Descargar Reportes</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="descargarTodo" onchange="toggleFechaInputs()" data-bs-toggle="tooltip" data-bs-placement="top" title="Utiliza el interruptor para indicar si quieres descargar todos los reportes o filtrarlos por fecha">
                            <span class="form-check-label ms-2" id="toggleLabel">Descargar todos los reportes</span>
                        </div>
                        <div id="fechaInputs" style="display:none;">
                            <label for="fecha1" class="mt-3">Fecha inicial:</label>
                            <input type="date" class="form-control" id="fecha1" name="fecha1" max="{{ hoy }}" required>
                            
                            <label for="fecha2" class="mt-3">Fecha final:</label>
                            <input type="date" class="form-control" id="fecha2" name="fecha2" max="{{ hoy }}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-outline-dark" onclick="descargarReportes()">Descargar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Editar Reporte -->
        <div class="modal fade" id="editarReporteModal" tabindex="-1" aria-labelledby="editarReporteModalLabel" data-bs-backdrop="static" aria-hidden="true">   
            <form action="editarReporte" method="POST">
                {% csrf_token %}
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="editarReporteModal">Modal title:</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input id="id" name="id" hidden>
                            <div class="form-group">
                                <label for="informe" style="font-weight: bold">Detalle tareas realizadas:</label>
                                <br>
                                <textarea rows="5" cols="50" id = "informe" name="informe"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="proyecto">Proyecto:</label>
                                <select name="proyecto" id="proyecto">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="fecha">Fecha:</label>
                                <br>
                                <input type="date" id="fecha" name="fecha" format="%Y-%m-%d">
                            </div>
                            <div class="form-group hora">
                                <label for="hora" style="font-weight: bold">Hora</label>
                                <br>
                                <input type="time" id="hora" name="hora">
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-outline-dark">Guardar</a></button> 
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Custom Js -->
        <script src="{% static 'asistencias/js/reportes.js' %}"></script>
        {% endblock %}

        {% block footer %}
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="reportes">
                <button type="button" class="btn btn-outline-dark" 
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Menú reportes">
                    Volver atras
                </button>
            </a> &nbsp; 
            {% if crear %}
            <a href="crearReporte"><button type="button" class="btn btn-outline-dark">Nuevo reporte</button></a>
            {% endif %}
            {% if autorizado %}
            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#descargarReportesModal">
                Descargar reportes
            </button>
            {% endif %}
        </div>
        {% endblock %}
    </body>
</html>