/* Estilos generales */
.imagen-fondo{
    /* background-size: 100% 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    z-index: -1;
}

.imagen-fondo-light{
    opacity: 85%;
    background-image: url(/static/core/img/light/inicio-bg.jpeg);
}
.imagen-fondo-dark{
    background-image: url(/static/core/img/dark/inicio-bg_dark.jpg);
}

.bi-circle-half-fill{
  display: inline-block;
  content: "";
  vertical-align: -.125em;
  /* background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='red' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 15A7 7 0 1 0 8 1zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16' clip-rule='evenodd'/></svg>"); */
  background-repeat: no-repeat;

}

.bi-sun-fill{
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    /* background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708' clip-rule='evenodd'/></svg>"); */
    background-repeat: no-repeat;
}

.bi-moon-stars-fill{
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    /* background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278' clip-rule='evenodd'/><path fill-rule='evenodd' d='M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z' clip-rule='evenodd'/></svg>"); */
    background-repeat: no-repeat;
}

.bi.bi-check2{
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    /* background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0' clip-rule='evenodd'/></svg>"); */
    background-repeat: no-repeat;
}


.contenedor{
    width: 100vw;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:"Encabezado"
                        "ContenidoPrincipal"
                        "Pie";
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
}

.contenedor .Encabezado{
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(min(100%,15rem), 1fr)); */
    margin: 30px;
    padding: 50px;
    width: 100vw;
    height: 10%;
    grid-area: Encabezado;
    position: sticky;
}

.contenedor .ContenidoPrincipal{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,15rem), 1fr));
    margin: 10px;
    padding: 50px;
    width: 100vw;
    height: 80%;
    grid-area: ContenidoPrincipal;
}

.contenedor .Pie{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,15rem), 1fr)); */
    margin: 30px;
    padding: 50px;
    width: 100vw;
    height: 10%;
    grid-area: Pie;
    position: sticky;
}

.version{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.navbar{
    z-index: 4;
}

/* Login */
.recuadro-fondo-login{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    z-index: 1;
    opacity: 85%;
    background-color: #44515E;
}

.form-login{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: auto;
    z-index: 1000;
    background-color: transparent;
}

.form-restablecer-contrasena{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 1000;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.vacio{
    background-color: transparent;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
/* header inicio */
.img-perfil{
    border-radius: 50%;
    border: 2px solid #44515E;
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 20px;
}


.saludo{
    position: absolute;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: left;
    text-align: left;
    align-items: center;
    background-color: transparent;
    width: 100vw;
    z-index: 2;
    /* float: left; */
}

.botonera{
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    z-index: 3;
}


.btn-group {
    position: absolute;
    gap: 10px;
}

.texto_navbar{
    display: flex;
    text-align: right;
    align-items: center;
    gap: 10px;
}

.formulario{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
}

.formulario button{
    width: 200px;
    justify-self: center;
    align-self: end;
}

.form-group label {
    /* Estilos para los elementos label dentro de los elementos form-group */
    font-weight: bold;
}

#hora, #fecha{
    border: none;
}

.modal-fade {
    position: fixed !important;
}

.modal-body{
    display: grid;
    text-align: left;
    width: 100%;
    gap: 10px;
    z-index: 1000;
}